* {
  font-size: 16px;
}

.container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 1080px;
  margin: 0 auto;
}

.title-box {
  max-width: 1080px;
  background: #7abcac;
  margin: 0 auto;
  text-align: right;
  font-weight: bold;
  padding: 22px;
  font-size: 1.5rem;
  margin-top: 5px;
}

.title-box .select-language {
  background: gray;
  outline: none;
}

.person-describtion-box {
  width: 45%;
  margin: 0 auto;
  border: 4px solid black;
  text-align: center;
  padding: 44px;
  transform: scaleY(1.25);
}

.person {
  width: 100%px;

  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}

.work-field {
  background: black;
  width: 250px;
  color: white;
  margin: 0 auto;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.aboutMe-links-box {
  margin-top: 3rem;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 150px;
  justify-content: flex-end;
}

.aboutMe-box {
}

.links-box {
}

.aboutMe-box {
  max-width: 720px;
}

.links-box {
  max-width: 360px;
}

.links-box ul li {
  list-style: none;
  text-align: left;
}

.links-box a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

.links-box a:hover {
  color: #11aafce2;
}

/* .education-skills {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */

.education-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  font-weight: 600;
}

.personal-skills_list {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.personal-skills_list {
  align-self: flex-end;
}

.technical-skills_list {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.technical-skills {
  text-align: left;
}

.workExperience_box-jobs {
  display: flex;
  justify-content: space-evenly;
}

.workExperience_box-jobs {
  text-align: center;
}

.job-box ul li {
  text-align: left;
}

.job-box-border {
  border-right: solid lightgray;
  padding-right: 20px;
  margin-right: 1rem;
}

.contacts {
  margin-top: 2rem;
}

.contacts-title {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.contacts-title_box-type {
  background: black;
  color: white;
  padding: 1px 60px;
}

.contacts-title_box ul li {
  list-style: none;
  margin-right: 35px;
}

.contacts-title_box ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.contacts-title_box ul li a:hover {
  color: #11aafce2;
}

.blue {
  background: #7abc;
  width: 110px;
  height: 20px;
  text-align: center;
  border-radius: 11px;
  font-weight: bold;
  text-align: center;
}

.yellow {
  background: #d8da79;
  width: 154px;
  height: 20px;
  text-align: center;
  border-radius: 11px;
  font-weight: bold;
}

.brown {
  background: #c29486;
  width: 137px;
  height: 20px;
  text-align: center;
  border-radius: 11px;
  font-weight: bold;
}

.lightGreen {
  background: #14c9a8;
  width: 100px;
  height: 20px;
  text-align: center;
  border-radius: 11px;
  font-weight: bold;
}

.icons {
  width: 30px;
  height: 30px;
  line-height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  padding-top: 2px;
}

.hr {
  max-width: 65rem;
  height: 4px;
  background: lightgray;
  margin-left: 72px;
  margin-top: -6px;
  margin-bottom: 10px;
}

.hr1 {
  background: #7abcac;
  height: 10px;
  width: 72px;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: -0.5rem;
}

.hr3 {
  height: 4px;
  background: lightgray;
}

@media screen and (max-width: 600px) {
  .education-skills {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 760px) {
  .person {
    font-size: 1.6rem;
  }

  .work-field {
    font-size: 1rem;
    width: 200px;
  }
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
